<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>URL Shorter</h1>
    <input type="text" id="orjinalLink" />
    <button onclick="kisalt()">Kısalt</button>

    <script>
      function kisalt() {
        const orjinalLink = document.getElementById("orjinalLink");
        alert(orjinalLink.value);

        fetch("http://localhost:3000", {
          method: "post",
          headers: {
            Accept: "application/json, text/plain",
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            orjinalLink: orjinalLink.value,
          }),
        })
          .then((res) => res.json())
          .then((reponse) => {
            console.log(reponse);
          });
      }
    </script>
  </body>
</html>
